ekf_filter_node:
  ros__parameters:
    frequency: 30.0
    two_d_mode: true # 2D 로봇이므로 true
    publish_acceleration: false
    publish_tf: true # 이제 EKF가 TF를 뿌립니다!

    map_frame: map
    odom_frame: odom
    base_link_frame: base_link
    world_frame: odom

    # -------------------------------------
    # 입력 1: 바퀴 오도메트리 (diff_drive_controller가 주는 것)
    # -------------------------------------
    odom0: /diff_drive_controller/odom
    # 사용 할 데이터: x, y, z, r, p, yaw, vx, vy, vz, vroll, vpitch, vyaw, ax, ay, az
    # (x, y, yaw, vx, vyaw 만 사용)
    odom0_config: [false, false, false,
                   false, false, false,
                   true,  true,  false,
                   false, false, true,
                   false, false, false]

    # -------------------------------------
    # 입력 2: IMU 센서
    # -------------------------------------
    imu0: /imu/data
    # (회전 속도와 가속도만 사용)
    imu0_config: [false, false, false,
                  false, false, true,
                  false, false, false,
                  false, false, true,
                  true,  false, false]